.cart{
    position: sticky;
    top: 0;
    background-color: #E3FDFD;
    padding: 30px;
    border-radius: 20px;

    font-family: 'Poppins', sans-serif;
    line-height: 25px;
    letter-spacing: 0.0015em;
}
.cart-items{
    display: grid;
    grid-template-columns: 1fr 5fr;
    align-items: center;
    padding-bottom: 10px;
}

.cart-items img{
    width: 50px;
    border: 2px solid #252A34;;
    border-radius: 100%;
    margin: 2px;
}

.cart-btn{
    padding-top: 20px;
}

.choose-btn{
    background-color: #252A34;
    color: white;
    padding:  0 30px; 
    border-radius: 20px;
    border: none;
}

.choose-btn:hover{
    background-color: #3FC1C9;
}

.reset-btn{
    background-color: #3FC1C9;
    color: white;
    padding:  0 30px; 
    border-radius: 20px;
    border: none;
    margin-left: 20px;
}

.reset-btn:hover{
    background-color: #252A34
}

@media only screen and (min-width: 0px) and (max-width: 472px) {
    .cart{
        margin-bottom: 30px;
        order: 1;
    }

    .cart-btn{
        display: flex;
    }

    .cart-btn p{
        font-size: 12px;
    }
  }