.product{
    border: 1px solid #364F6B;
    border-radius: 10px;
    width: 350px;
    height: 540px;
    position: relative;
}

.product img{
    width: 325px;
    height: 320px;
    border-radius: 15px;
    margin: 10px;
    border: 1px solid;
}

.product-info{
    margin: 0 20px;
    margin-top: -16px;
}

.cart-btn{
    width: 100%;
    border: none;
    background-color: #3FC1C9;
    border-radius: 0 0 10px 10px;
    position: absolute;
    bottom: 0;
}

.cart-btn:hover{
    background-color: #A6E3E9;
}