.header{
    display: flex;
    align-items: center;
    justify-content: space-between;
    background-color: #252A34;
    padding: 10px 50px;
}

.header-title{
    color: #3FC1C9;
    font-size: 30px;
}

.header a{
    text-decoration: none;
    padding-left: 20px;
    color: #3FC1C9;
    font-size: 16px;
    font-weight: 600;
}

.header a:hover{
    color: white;
}

@media only screen and (min-width: 0px) and (max-width: 472px) {
    .header-title{
        color: #3FC1C9;
        font-size: 24px;
        padding: 10px 25px;
    }
    
    .header a {
      display: none;
    }
  }