.shop-container{
    display: grid;
    grid-template-columns: 3fr 1fr;
    padding: 40px 50px;
}

.product-container{
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    gap: 25px;
}

@media only screen and (min-width: 0px) and (max-width: 472px) {
    .shop-container{
        grid-template-columns: 1fr;
        padding: 30px 10px;
    }

    .product-container{
        display: grid;
        grid-template-columns: repeat(1, 1fr);
        gap: 20px;
        order: 2;
    }
  }