.shop-container{
    display: grid;
    grid-template-columns: 3fr 1fr;
    padding:  0 50px;
    padding-top: 40px;
}

.product-container{
    display: grid;
    grid-template-columns: repeat(3,1fr);
    gap: 25px;
}

/* .selected-product{
    background-color: #CBF1F5;
} */

@media screen and (max-width: 500px) {
    .shop-container{
        padding:  0 10px;
        padding-top: 30px;
    }

    .product-container{
        display: grid;
        grid-template-columns: repeat(1,1fr);
        gap: 20px;
    }
  }