.selection{
    position: sticky;
    top: 0;
    background-color: #E3FDFD;
    padding: 30px;
    border-radius: 20px;

    font-family: 'Poppins', sans-serif;
    line-height: 25px;
    letter-spacing: 0.0015em;
}

.choose-btn{
    background-color: #252A34;
    color: white;
    padding:  0 30px; 
    border-radius: 20px;
    border: none;
}

.choose-btn:hover{
    background-color: #3FC1C9;
}

.reset-btn{
    background-color: #3FC1C9;
    color: white;
    padding:  0 30px; 
    border-radius: 20px;
    border: none;
    margin-left: 20px;
}

.reset-btn:hover{
    background-color: #252A34
}

@media screen and (max-width: 500px) {
    .selection{
        display: none;
    }
  }